<!DOCTYPE html>
<html lang="en">
  <head>
    <% incude ../partials/head.ejs %>
  </head>

  <body>
    <% include ../partials/navbar.ejs %>

      <h2>Topics Go Here</h2>

    <% include ../partials/baseScripts.ejs %>
  </body>

</html>