<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>
      <h2>Here are the Topics</h2>
      <br></br>
      <a href="/topics/new" class="btn btn-primary">New Topic</a>
      <br></br>
        <ul class="list-group">
          <% topics.forEach((topic) => { %>
            <li class="list-group-item">
             <a href="/topics/<%= topic.id %>"> <%= topic.title %> </a>
            </li>
          <% }) %>
        </ul>

    <% include ../static/partials/baseScripts.ejs %>
  </body>

</html>