<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h1><%= topic.title %></h1>

        <form action="/topics/edit/<%= topic.id %>" method="GET">
          <button class="btn btn-success">Edit</button>
        </form>
        <form action="/topics/delete/<%= topic.id %>" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
        <form action="/posts" method="GET">
          <button class="btn btn-danger">Add a Post</button>
        </form>
        <div>
          <p><%= topic.description %></p>
        </div>
  

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>