<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h1>New Post</h1>

      <form action="/posts" method="post">
        <div class="form-group">
          <label for="description">What would you like to say?</label>
          <textarea rows="4" class="form-control" name="description" placeholder="Enter post"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>